/* Controller css */
.select {
  background-color: var(--bg-secondary);
  color: var(--text-primary);
  border: 1px solid var(--border-default);
  padding: 4px 8px;
  font-size: 12px;

  outline: none;
  cursor: pointer;

  transition: all 0.2s ease-in-out;
}

.select:hover {
  border-color: var(--border-strong);
}

.select:focus {
  border-color: var(--border-strong);
  box-shadow: 0 0 0 2px rgba(255,255,255,0.05);
}

.activeFilter {
  border-color: var(--color-danger-red);
  box-shadow: 0 0 8px rgba(255, 0, 0, 0.2);
}

.infoLabel {
  color: var(--text-muted);
  font-size: 10px;
}