.listItemButton {
  text-transform: uppercase;
}

.guideButton {
  background-color: var(--bg-primary);
  border: 1px solid var(--color-info-blue);
}

.guideButton:hover {
  border: 1px solid var(--color-info-blue);
}

.guideButton {
  color: var(--text-primary);
  text-decoration: none !important;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}

.guideButton:hover {
  color: var(--color-info-blue);
}

.playButton {
  background-color: var(--bg-primary);
  border: 1px solid var(--color-success-green);
}

.playButton:hover {
  color: var(--color-success-green);
  border: 1px solid var(--color-success-green);
}

.updateLogsButton {
  background-color: var(--bg-primary);
  border: 1px solid var(--color-danger-red);
}

.updateLogsButton:hover {
  color: var(--color-danger-red);
  border: 1px solid var(--color-danger-red);
}

.updateLogsButton {
  color: var(--text-primary);
  text-decoration: none !important;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}

.updateLogsButton:hover {
  color: var(--color-danger-red);
}

.listItemButton:hover .buttonTitle {
  text-shadow: var(--text-glow-white);
}

.buttonTitle {
  font-size: 14px;
  font-weight: 600;
}

.tagName {
  font-size: 10px;
  font-family: var(--font-heading);
}