.listItemButton {
  text-transform: uppercase;
}

/* Guide Button */
.guideButton {
  background-color: var(--bg-primary);
  border: 1px solid var(--color-info-blue);
  color: var(--text-primary);
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}

.guideButton:hover {
  color: var(--color-info-blue);
  border-color: var(--color-info-blue);
}

/* Play Button */
.playButton {
  background-color: var(--bg-primary);
  border: 1px solid var(--color-success-green);
  color: var(--text-primary);
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  width: 133px;
}

.playButton:hover {
  color: var(--color-success-green);
  border-color: var(--color-success-green);
}

/* Update Logs Button */
.updateLogsButton {
  background-color: var(--bg-primary);
  border: 1px solid var(--color-danger-red);
  color: var(--text-primary);
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  width: 133px;
}

.updateLogsButton:hover {
  color: var(--color-danger-red);
  border-color: var(--color-danger-red);
}

/* Typography Details */
.buttonTitle {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 4px;
}

.tagName {
  font-size: 10px;
  font-family: var(--font-heading);
}